* {
    box-sizing: border-box; }
  
  html {
    height: 100%; }
  
  body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100%; }
  
  header {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem; }
  
  footer {
    background-color: #f2f2f2;
    padding: 0 0.2rem; 
  }
  
  a {
    text-decoration: none; }
  
  footer h4 {
    color: #00587F; }
  
  .header__brand img {
    width: auto;
    height: 4rem;
    background: transparent; }
  

.mobile-nav {
    position: fixed;
    left:0;
    top:0;
    height: 100vh;
    width: 100vw;
    z-index: 90;
    background-color: rgba(0, 88, 127, 0.95);
    transform: translateX(-100%); }
  
  .open-overlay {
    display: block;
    transform: translateX(0);
    transition: transform 500ms ease-out;
    /* Transition effects on hover (color) */
    overflow: hidden; }
  
  .mobile-nav__links {
    position: relative;
    top: 20%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 6rem;
    /* 30px top margin to avoid conflict with the close button on smaller screens */ }
  
  .mobile-nav__links a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 2rem;
    color: #00B1FF;
    display: block;
    /* Display block instead of inline */ }
  
  .mobile-nav__links a:hover,
  .mobile-nav__links a:focus {
    color: #4CC8FF; }
  
  .toggle-button {
    height: 4rem;
    background: transparent;
    border: none;
    cursor: pointer; }
  
  .toggle-button:focus {
    outline: none; }
  
  .toggle-button__bar {
    width: 36px;
    height: 5px;
    background-color: #00587F;
    transition: 0.4s;
    display: block;
    margin: 0.6rem 0; }
  
  .toggle-button__bar:nth-of-type(1).rotate {
    transform: translateY(16px) rotate(-45deg);
    background-color: white; }
  
  .toggle-button__bar:nth-of-type(2).rotate {
    opacity: 0; }
  
  .toggle-button__bar:nth-of-type(3).rotate {
    transform: translateY(-16px) rotate(45deg);
    background-color: white; }
  
  .footer-contact {
    line-height: 0.8rem; }

    @media (min-width: 40rem) {
        footer {
            display: flex;
            width: 100%;
            justify-content: space-around; }
        
          .mobile-nav__links a {
            font-size: 3rem; }    
    }
